iframe {
  border: 2px solid var( --base__color--block );
  display: block;
  width: 100%;
  min-height: 150px;
}
img {
  max-width: 100%;
  height: auto;
}
audio,
video,
object {
  width: 100%;
}
object {
  min-height: 500px;
}